:root {
  --tile-height: 40px;
  --project-padding: 10px;
  --head-color: #44403c;
  --left-panel-color: #e7e5e4;
  --right-panel-color: #fafaf9;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

header {
  background-color: var(--head-color);
  padding: 10px;
  height: 100px;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  color: #e7e5e4;
}

body {
  height: 100%;
  background-color: var(--right-panel-color);
}

.leftPanel {
  background-color: var(--left-panel-color);
  height: calc(100vh - 100px);
}

.rightPanel {
  background-color: var(--right-panel-color);
  height: calc(100vh - 100px);
}

.content {
  display: grid;
  grid-template-columns: minmax(250px, 1fr) minmax(600px, 3fr);
}

.default-project-list,
.project,
.projectList,
.task-todo,
.taskList {
  display: grid;
  align-items: center;
}

.tile,
.custom-project,
.left-project-panel,
#addProject,
#addTask,
.task,
.right-task-panel,
.left-task-panel {
  display: flex;
  align-items: center;
}

.tile {
  height: var(--tile-height);
  padding: var(--project-padding);
  /* gap between default project icon and name  */
  gap: 10px;
}

.custom-project,
.left-project-panel,
.left-task-panel {
  justify-content: space-between;
  /* gap between projects and tasks icon and name  */
  gap: 10px;
}

#addProject,
#addTask,
#projectInput,
#taskInput {
  height: var(--tile-height);
  padding: var(--project-padding);
  /* gap between projects and tasks add button icon and title  */
  gap: 5px;
}

.leftPanel {
  padding: 20px;
}

.rightPanel {
  display: grid;
  grid-template-rows: min-content 1fr;
  align-items: start;
  margin: 0 5vw;
  padding: 20px 40px;
}

.taskList,
.projectList,
.default-project-list {
  row-gap: 5px;
  margin: 5px 0px;
}

.task {
  justify-content: space-between;
  height: var(--tile-height);
  padding: var(--project-padding);
}

.inputField {
  display: grid;
  width: 100%;
  row-gap: 5px;
}

.inputContent {
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 5px;
}

.formButtons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;
  height: var(--tile-height);
  margin-bottom: 10px;
}

.current-project {
  padding: 20px 20px;
  height: 100px;
  display: flex;
  align-items: center;
  font-variant: small-caps;
  background-color: var(--head-color);
  color: #e7e5e4;
  border-radius: 4px;
}

button {
  background-color: #e7e5e400;
  border: none;
  font-size: 1.1rem;
  color: #292524;
  cursor: pointer;
}

button:hover {
  background-color: #d4d4d4;
  border-radius: 4px;
}

.selected {
  background-color: #a3a3a3;
  border-radius: 4px;
}

.selected:hover {
  background-color: #c5c3c3;
  border-radius: 4px;
}

.line-through {
  text-decoration-line: line-through;
  color: #aaa8a8;
}

.projectSubmitBtn,
.taskSubmitBtn {
  background-color: #dc2626;
  color: #f5f5f5;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: bold;
}

.projectCancelBtn,
.taskCancelBtn {
  background-color: #22c55e;
  color: #f5f5f5;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: bold;
}

input {
  font-family: inherit;
  padding: 10px;
}

#taskDate,
#taskInput,
#projectInput {
  border-radius: 4px;
  border: 1px solid black;
}

#taskDate {
  color: #525252;
}

.material-icons-round,
.due-date {
  cursor: pointer;
}

.task:hover {
  background-color: #d4d4d4;
  border-radius: 4px;
}

#new-due-date {
  height: 30px;
  border-radius: 4px;
  border: 1px solid black;
  background-color: var(--right-panel-color);
}

@media (max-width: 800px) {
  .content {
    display: grid;
    grid-template-columns: 1fr;
  }

  .leftPanel,
  .rightPanel {
    height: max-content;
  }
}
